#error, #title, #author, #date {
    text-align: center;
}

#error {
    font-size: 200%;
}

#title {
    font-weight: bolder;
}

#author {
    text-align: right;
    font-weight: bolder;
}

#date {
    font-style: italic;
    text-align: right;
    margin-top: 10%;
    font-size: 60%;
    opacity: 50%;
}

#contents {
    text-align: justify;
}