:root {
    --error-font-size: 120%;
    --date-font-size: 60%;
}

#error {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    font-size: var(--error-font-size);
}

#title, #author, #date {
    text-align: center;
}

#title {
    font-weight: bolder;
}

#author {
    text-align: right;
    font-weight: bolder;
}

#date {
    font-style: italic;
    text-align: right;
    margin-top: 10%;
    font-size: var(--date-font-size);
    opacity: 50%;
}

#contents {
    text-align: justify;
}