@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400);

:root {
    --background-color: #fff;
    --color: #000;
    --anchor-color: #000;
    --anchor-hover-color: #53a8e0;
    --font-family: "IBM Plex Serif", sans-serif;
    --font-size: 200%;
    --table-font-size: 100%;
    --table-border: solid 2px #000;
    --table-cell-padding: 0 10px 0 10px;
    --header-box-shadow: 0px 10px 10px -15px #333;
    --free-bottom-height: 200px;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    background: var(--background-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color);
    height: 100%;
    margin: 0;
    padding: 3% 5% 10% 5%;
}

header {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    padding: 3% 0% 3% 0%;
    justify-content: center;
    background-color: var(--background-color);
    font-weight: bolder;
    box-shadow: var(--header-box-shadow);
    opacity: 96%;
}

main {
    width: 100%;
}

main::after {
    content: '';
    display: block;
    height: var(--free-bottom-height);
}

a {
    text-decoration: none;
    color: var(--anchor-color);
}

a:hover {
    color: var(--anchor-hover-color);
}

img {
    min-width: 50%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    align-self: center;
}

table {
    max-width: 100%;
    font-size: var(--table-font-size);
    border: var(--table-border);
}

th, td {
    text-align: center;
    padding: var(--table-cell-padding);
}

.go-top {
    display: flex;
    position: fixed;
    z-index: 1;
    bottom: 2%;
    right: 2%;
    width: 0.1vw;
    height: 0.1vw;
    padding: 3.5%;
    background-color: var(--color);
    color: var(--background-color);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 50%;
}

.go-top:hover {
    opacity: 100%;
}

.go-back {
    position: fixed;
}
